*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url(imagens/mountain-landscape-2031539_640.jpg) no-repeat;
    background-size: cover;
}

.fundotransparente{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.39);
}